@{
    ViewBag.Title = "صفحه یافت نشد ";
}
<br />
<br />
<br />
<br />
<br />
<div class =" text-danger bg-warning border border-dark">


<h1 class="text-center text-white ">@ViewBag.ErrorMessage</h1>
<h3 class="mt-5">صفحه یافت نشد یا چنین آدرسی وجود ندارد </h3>
    <a class="nav-link text-white bg-warning border border-dark mt-5 w-25 p-3" asp-area="" asp-controller="Home" asp-action="Index">
    برای بازگشت به صفحه اصلی کلیک کنید 

</a>

</div>

