@model Account
<div asp-validation-summary="ModelOnly">
</div>
<br />
<br />

<form method="post">
    <div class="row">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" placeholder="Account name" required="required" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="row">
    <label asp-for="Email"></label>
        <input type="text" asp-for="Email" placeholder="Account Email" required="required" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="row">
        <label asp-for="Password"></label>
        <input type="text" asp-for="Password" placeholder="Account Password" required="required" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="row">
        <label asp-for="Phone"></label>
        <input type="text" asp-for="Phone" placeholder="Account Phone" required="required" />
        <span asp-validation-for="Phone"></span>
    </div>

    <button type="submit" asp-controller="Account" asp-action="List" class="btn btn-primary">اضافه کردن کاربر</button>
</form>
@section Scripts
    {
        <partial name="_ValidationScriptsPartial" />
}
