@model Product
@{
    ViewData["Title"] = "ویرایش محصول";
}
<br />
<br />
<br />

@{
    <form method="post">

            <div class="row text-center">
                <input type="text" name="Name" value="@Model.Name" required="required" />
            </div>
            <div class="row text-center ">
                <input type="text" name="Number" value="@Model.Number" required="required" />
            </div>
                <div class="row text-center ">
            <input type="text" name="Price" value="@Model.Price" required="required" />
            </div>
            <button type="submit" asp-controller="Product" asp-action="Edit" class="btn btn-primary">ویرایش محصول  </button>
    </form>
}