<nav class="navbar navbar-light flex-container" style="background-color: #e3f2fd; ">

                <div class="d-flex">
                    <ul class="d-flex">
                        <li class="nav-item d-flex">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a>
                        </li>

                        <li class="nav-item d-flex">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">ورود</a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="AccountList">لیست کاربران </a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="List">لیست کالاها</a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="List">مشاهده سبد خرید </a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Action"> تغییرات دستی </a>
                        </li>
                    </ul>
                </div>
            </nav>